/***********************************
        
        Filename= custom.css
        Author: Giovana Beltrame
        Date: January 12, 2023

        Index

        0.Reset
        1.General
        2.Header
        3.Cities
        4.Tabel of contents
        5.Stats
        6.Footer

***********************************/



/***********************************
        1.General
***********************************/

body{
        font-family: "Poppins";
        color: #60495F;
}

::selection{
        background: #ffee58;
        color:#ff88af;
}

h1{
    font-size: 48px;
    line-height: 120%;
    margin-top: 150px;
    font-weight: 600;
}

h4{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-align: left;
    color: #ff00af;
    margin-bottom: 32px;
}

h5{
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 3px;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #60495F;
    }

/***********************************
        2.Header
***********************************/

header{

}

header .background-map{
        background-image: url(../img/mapa.svg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 75% -100px;

}

header nav{
        color: #ffffff;
        background: linear-gradient(120deg, #AC3ECF 0%,#ff00af 100%);
        -webkit-box-shadow: none;
        box-shadow: none;
}

header#hero{
        color: #ffffff;
        background: linear-gradient(120deg, #AC3ECF 0%,#ff00af 100%);
}

#header-logo{

}

#hero-header{

}

header #hero-title h1{
        margin-bottom: -10px;
}

header #hero-subtitle h5{
        margin-bottom: 16px;

}

#call-to-scroll{
        color: #ff00af;
        font-size: 16px;
        font-weight: 600;
        margin-top: 24px;
}

#call-to-scroll i{
        font-size: 50px;
        margin-top: -8px;
}


a.brand-logo{
        font-size: 24px;
        font-weight: 500px ;
        font-family: "Poppins";
}


#value-proposition a{
        color:#B633BF;
        font-weight: 600;
}

#value-proposition .col{
        padding:0%;
}


/***********************************
        3.Cities
***********************************/

#cities{

}

#cities-title{

}

.card-action {
        padding: 16px 16px 1px 16px;
}

.card-action a{
        background: #FE03B0;
        color: #FFF;
        font-weight: 400;
        font-size: 16px;
}

.card-action a:hover{
        background: #9A259F;
        color: #FFF;
        font-weight: 400;
        font-size: 16px;
}



/***********************************
        4.Table of content
***********************************/

#table-of-contents{
        background: #FFF6FF;
        padding: 24px 0px;
}

#table-of-contents-title h4{
        margin-bottom: -8px;

}

#table-of-contents-subtitle p{
        margin-bottom: 32px;   
}

#table-of-contents-content{
        background: #EEE ;

}

.table-of-contents-content-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        padding: 16px 16px 0px 16px;

}

.table-of-contents-content-items{
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        text-align: left;
        padding: 0px 16px;
        margin-left: 32px;

}





/***********************************
        5.Stats
***********************************/

#stats{
        padding: 60px 0px;
        background: url(../img/stats.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 100px;
        background-size: 100% auto;

}


#stats-title{

}

#stats-subtitle{
    
}

#stats-content{

}

.stats-content-title{
        font-weight: 600;
        font-size: 60px;
        line-height: 90px;
        color: #FE03B0;
        text-shadow: 0px 0px 20px #ffffff;
        padding-top: 32px;

}

.stats-content-subtitle{
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #60495F;
        padding-bottom: 32px;

}



/***********************************
        6.Footer
***********************************/

#footer{

}