/***********************************
        
        Filename= custom.css
        Author: Giovana Beltrame
        Date: January 12, 2023

        Index

        0.Reset
        1.General
        2.Header
        3.Cities
        4.Tabel of contents
        5.Stats
        6.Footer

***********************************/



/***********************************
        1.General
***********************************/

body{
        font-family: "Poppins";
}



/***********************************
        2.Header
***********************************/

header{

}

nav{

}

#header-logo{

}

#hero-header{

}

#hero-title{

}

#hero-subtitle{

}

#call-to-scroll{

}

a.brand-logo{
        font-size: 24px;
        font-weight: 500px ;
        font-family: "Poppins";
}

#value-proposition a{
        color:#B633BF;
}


/***********************************
        3.Cities
***********************************/

#cities{

}

#cities-title{

}



/***********************************
        4.Table of content
***********************************/

#table-of-content{

}

#table-of-contents-title{

}

#table-of-contents-subtitle{
    
}

#table-of-contents-content{

}

.table-of-contents-content-title{

}

.table-of-contents-content-items{

}





/***********************************
        5.Stats
***********************************/

#stats{

}


#stats-title{

}

#stats-subtitle{
    
}

#stats-content{

}

.stats-content-title{

}

.stats-content-subtitle{

}



/***********************************
        6.Footer
***********************************/

#footer{

}